[submodule "nprima-engine"]
	path = nprima-engine
	url = https://github.com/derek-adair/nprima-engine.git
[submodule "aio-spider"]
	path = aio-spider
	url = https://github.com/derek-adair/aio-spider.git
[submodule "nprima-admin"]
	path = nprima-admin
	url = https://github.com/derek-adair/nprima-admin.git
[submodule "async-pixel"]
	path = async-pixel
	url = https://github.com/derek-adair/async-pixel.git
