[submodule "nprima_admin"]
	path = nprima_admin
	url = https://github.com/derek-adair/nprima_admin.git
[submodule "aio_spider"]
	path = aio_spider
	url = https://github.com/derek-adair/aio_spider.git
